In [7]:
import numpy as np # for handling numbers
import pandas as pd # for handling the dataset
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from numpy.linalg import eig

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DTSC 710 - Class Code/movie.csv')

In [5]:
data.head()

     Name  Movie 1  Moive 2  Movie 3  Movie 4  Movie 5
0     Bob        1        5        2        3        4
1  Steven        2        4        3        5        1
2  Harry         5        2        1        4        3
3    Lary        4        3        2        1        5
4    Mary        3        1        4        5        2

In [12]:
a = np.array([[1,2,5,4,3], 
              [5,4,2,3,1],
              [2,3,1,2,4],
              [3,5,4,1,5],
              [4,1,3,5,2]])
w,v=eig(a)
print('E-value:', w)
print('E-vector', v)

E-value: [15.        +0.j          1.94458535+0.j         -3.14313241+1.77341505j
 -3.14313241-1.77341505j -1.65832054+0.j        ]
E-vector [[ 0.43895403+0.j         -0.22965661+0.j          0.60100102+0.j
   0.60100102-0.j         -0.62689516+0.j        ]
 [ 0.44826993+0.j          0.79020548+0.j         -0.18237972-0.21229136j
  -0.18237972+0.21229136j  0.31703728+0.j        ]
 [ 0.36239765+0.j         -0.10534042+0.j         -0.2772221 +0.24212226j
  -0.2772221 -0.24212226j -0.27501306+0.j        ]
 [ 0.51947659+0.j          0.09498621+0.j         -0.31495926+0.36928837j
  -0.31495926-0.36928837j  0.6528662 +0.j        ]
 [ 0.452974  +0.j         -0.55019466+0.j          0.17356006-0.39911927j
   0.17356006+0.39911927j -0.06799527+0.j        ]]